aiogram
aiohttp
async-timeout
attrs
beautifulsoup4
certifi
chardet
charset-normalizer
idna
multidict
pip
python-dotenv
pytz
requests
selenium
setuptools
soupsieve
typing-extensions
urllib3
yarl