aiogram
aiohttp
async-timeout
attrs
beautifulsoup4
certifi
chardet==4.0.0
charset-normalizer
idna
multidict==5.1.0
psycopg2==2.9.1
psycopg2-binary==2.9.1
pip
python-dateutil==2.8.2
python-dotenv==0.19.0
pytz
requests==2.26.0
selenium
setuptools==40.8.0
soupsieve
typing-extensions
urllib3
yarl